
@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Tabela de Categorias
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Quarto</td>
                        <td><button>Editar</button></td>
                        <td><button>Excluir</button></td>
                    </tr>
                    <tr>
                        <td>Cozinha</td>
                        <td><button>Editar</button></td>
                        <td><button>Excluir</button></td>
                    </tr>
                    <tr>
                        <td>Sala</td>
                        <td><button>Editar</button></td>
                        <td><button>Excluir</button></td>
                    </tr>
                    <tr>
                        <td>Móveis</td>
                        <td><button>Editar</button></td>
                        <td><button>Excluir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
