
@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<table>
    <tr>
        <td>Nome do Produto: <input type="text" maxlength="40" size="20" required /></td>
    </tr>
    <tr>
        <td>Categoria:
            <select id = categoria>
                <option>Quarto</option>
                <option>Cozinha</option>
                <option>Sala</option>
                <option>Móveis</option>
            </select>   
        </td>
    </tr>
</table>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Tabela de Produtos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Acessos</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Imagem</td>
                        <td>01</td>
                        <td>Produto Teste</td>
                        <td>Categoria Sofá</td>
                        <td>1.000</td>
                        <td>R$320,800</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button name="button">Exportar</button>
